<%- include("header") -%>


<div class="box">
<a href="/login">
    <P>Sign in with google</P>

</a>
</div>

<div class="box">
<a href="/signup">
    <p>Signup with google</p>

</a>
</div>





<%- include("footer") -%>
